:root {
  /* color */
  --text-color: #6b7082;
  --background-color-lower-container: #fff;
  /* font */
  --ff-base: "Kumbh Sans", sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
}

/* CSS reset */

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
  font-size: 18px;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/*  General Styling profile-card Mobile First */

body {
  color: var(--text-color);
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  font-size: 1rem;
}
.card {
  background-color: aqua;
}

.card-container {
  display: flex;
  flex-direction: column;
  max-width: 326px;
  border-radius: 15px;
  margin: 0 auto;
}

.upper-container-profile {
  border-radius: 15px 15px 0 0;
  position: relative;
}
img .img-background-upper-container-profile {
  border-radius: 15px 15px 0 0;
}
.image-container {
  background-color: #fff;
  border-radius: 50%;
  height: 5.6em;
  width: 5.6em;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image-profile {
  border-radius: 50%;
  padding: 0.22em;
}
.lower-container-profile {
  background-color: var(--background-color-lower-container);
  padding-top: 4em;
  text-align: center;
}

.profile {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.stat-profile-card {
  display: flex;
}
